<!DOCTYPE html>

<script src="https://www.gstatic.com/firebasejs/8.0.2/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.19.0/firebase-auth.js"></script>
<script>
    auth.onAuthStateChanged(function(user){
    if(user){
        var form = document.createElement("form");
    document.body.appendChild(form);
    form.method = "GET"
    form.action = "/dashboard"
    form.submit();
    }
    else{
        window.location = "/"
    }
});
</script>

<script type = "text/javascript" src = "js/scripts.js"></script>
<button onclick = "dashboard()">Back</button>
<br>
<div> Preview (Add Item Screen Shot please): </div>
<img width="300" height="400" id = "img">
<br>
<body>
    <label> Add a screenshot of the item</label>
    <input type = "file" id = "file"  onchange="document.getElementById('img').src = window.URL.createObjectURL(this.files[0])" required>
    <br>
    <label> Start offer(Not required, default 0) :</label>
    <input id = "sb"/>
    <br>
    <label> Auto Win(Not Required, default N/A) :</label>
    <input id = "aw"/>
    <br>
    <button onclick = "addItem()"> Add Item :D</button>
    
</body>


</html>