<!DOCTYPE html>
<!DOCTYPE html>

<script src="https://www.gstatic.com/firebasejs/8.0.2/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.19.0/firebase-auth.js"></script>

<script>
     var user = firebase.auth().currentUser;

if (!user) {
 window.location = "/"
} else {
 
}
</script>
<script type = "text/javascript" src = "js/scripts.js"></script>
What do you want to do next?
<div>
    <button onclick = "dashboard()">Dashboard</button>
    <button onclick = " addAnotherItem()"> Add another item</button>
    <button onclick = "signOut()">Log out</button>
</div>
</html>