<!DOCTYPE html>
<img width="300" height="400" id = "img">
<body>
    <input type = "file" id = "file">
    <script>
        const file = document.getElementById("file")
        file.addEventListener("change" , ev =>{
            const formdata = new FormData()
            formdata.append("image", ev.target.files[0])
            fetch("https://api.imgur.com/3/image/",{
                method : "post",
                headers:{
                    Authorization: "Client-ID e3441af7eaad282"
                }, body : formdata
            }).then(data =>data.json()).then(data =>document.getElementById("img").src = data.data.link)
        })
    </script>
</body>
</html>